@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&family=The+Girl+Next+Door&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'The Girl Next Door', cursive;
}

.font-title {
  font-family: 'Ibarra Real Nova', serif;
}
